* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 10px;
  section {
    flex-grow: 1;
    height: 100%;
    color: white;
    background-size: cover;
    background-position: center;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  section:hover {
    flex-grow: 2.2;

    cursor: pointer;
  }
  section:nth-child(1) {
    background-image: url(./assets/space3.jpg);

    background-color: red;
  }
  section:nth-child(2) {
    background-image: url(./assets/space4.jpg);

    background-color: white;
  }
  section:nth-child(3) {
    background-image: url(./assets/space5.jpg);
    background-color: yellow;
  }
  section:nth-child(4) {
    background-image: url(./assets/space6.jpg);
    background-color: purple;
  }
}
